**/*.png
**/*.svg
CODEOWNERS
package.json
.next/
node_modules/
src-tauri/
AUTHORS.txt
lib/
es/
dist/
CNAME
LICENSE
*.sh
*.snap
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
.history
.eslintrc.js
**/*.yml
